/* Colors
-----------------------------------------------------------------------------*/

$blue: #a5c0de;
$light-blue: #dceef9;
$green: #7a962d;
$yellow: #d7a12c;
$light-yellow: #F7BD2D;
$gray: #999;
$ligtGray: #dedede;
$creame: #f3f3f3;
$superLightGray: #f3f3f3;
$brease: #e1e2e9;
$white: #fff;
$lightBlack: #444444;
$black: #2c2c2c;
$superLightBlack: #505050;

$site-icons-lnk: "../images/site-icons.png";







