@import "../bower_components/twbs-bootstrap-sass/assets/stylesheets/bootstrap";
//@import "../bower_components/Autocompleter/src/jquery.autocompleter.css";
@import "base";

@import "compass";
@import "elements/button";
@import "elements/autocompleter";


html {
	height: 100%;

}

body {
	font: 12px/18px  Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;

	@include min-height(100%);
        @include min-width(1170px)
}

.contet-box {
	max-width: 1170px;
	margin: auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	background: $white;
	border-bottom: 1px solid $ligtGray;
	padding: 15px 0 10px;
}

.header__inner {
	height: 90px;
//	padding-top: 34px;
	border-bottom: none;
}

@import "elements/logo";
@import "elements/login";


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 144px;
}

@import "elements/slider";
@import "elements/filters";
@import "elements/guide";
@import "elements/reviews";
@import "elements/ctrl-checkbox";
@import "elements/ctrl-input";

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -144px auto 0;
	min-width: 640px;
	height: 144px;
	background: $yellow url("../images/bg_yellow.png");
	position: relative;
	padding-top: 59px;
}

@import "elements/copyright";
@import "elements/social";