@import "../bower_components/twbs-bootstrap-sass/assets/stylesheets/bootstrap";
@import "base";
@import "compass";

html {
	height: 100%;
}

body {
	font: 12px/18px  Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 640px;

	@include min-height(100%);
}

.contet-box {
	max-width: 1170px;
	margin: auto;

	@include min-width(768px)
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	background: $white;
	border-bottom: 1px solid $ligtGray;
}

.header__inner {
	height: 90px;
//	padding-top: 34px;
	border-bottom: none;
}

@import "elements/logo";
@import "elements/reg-ent";

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 144px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -144px auto 0;
	min-width: 640px;
	height: 144px;
	background: $yellow;
	position: relative;
}