@import "../bower_components/twbs-bootstrap-sass/assets/stylesheets/bootstrap";
@import "base";

@import "compass";
@import "elements/button";
@import "elements/autocompleter";


html {
	height: 100%;

}

body {
        font: 12px/18px  "open sans" sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
        position: relative;

	@include min-height(100%);
        @include min-width(1170px)
}

.content-box {
	max-width: 1170px;
	margin: auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	background: $white;
	border-bottom: 1px solid $ligtGray;
	padding: 15px 0 10px;
}

.header_t_fixed {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1500;
}

.header__inner {
	height: 90px;
	border-bottom: none;
}

@import "elements/logo";
@import "elements/login";


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 144px;
}

@import "elements/slider";
@import "elements/filters";
@import "elements/guide";
@import "elements/reviews";
@import "elements/ctrl-checkbox";
@import "elements/ctrl-input";
@import "elements/catalog";
@import "elements/catalog-popup";

/* Footer
-----------------------------------------------------------------------------*/
.footer {
        @include min-width(1170px);

	margin: -144px auto 0;
	height: 144px;
	background: $yellow url("../images/bg_yellow.png");
	position: relative;
	padding-top: 59px;
        z-index: 1500;
}

@import "elements/copyright";
@import "elements/social";

