@charset "UTF-8";
/* Colors
-----------------------------------------------------------------------------*/
/* Fonts
-----------------------------------------------------------------------------*/
@font-face {
  font-family: 'PFAgoraSansPro-Black';
  src: url("../fonts/PFAgoraSansPro-Black.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-Black.woff") format("woff"), url("../fonts/PFAgoraSansPro-Black.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-BlackItal';
  src: url("../fonts/PFAgoraSansPro-BlackItal.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-BlackItal.woff") format("woff"), url("../fonts/PFAgoraSansPro-BlackItal.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-BlackItal.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-Bold_0';
  src: url("../fonts/PFAgoraSansPro-Bold_0.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-Bold_0.woff") format("woff"), url("../fonts/PFAgoraSansPro-Bold_0.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-Bold_0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-BoldItalic';
  src: url("../fonts/PFAgoraSansPro-BoldItalic.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-BoldItalic.woff") format("woff"), url("../fonts/PFAgoraSansPro-BoldItalic.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-Italic';
  src: url("../fonts/PFAgoraSansPro-Italic.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-Italic.woff") format("woff"), url("../fonts/PFAgoraSansPro-Italic.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-Light';
  src: url("../fonts/PFAgoraSansPro-Light.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-Light.woff") format("woff"), url("../fonts/PFAgoraSansPro-Light.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-LightItal';
  src: url("../fonts/PFAgoraSansPro-LightItal.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-LightItal.woff") format("woff"), url("../fonts/PFAgoraSansPro-LightItal.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-LightItal.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-Medium';
  src: url("../fonts/PFAgoraSansPro-Medium.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-Medium.woff") format("woff"), url("../fonts/PFAgoraSansPro-Medium.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-MediumItal';
  src: url("../fonts/PFAgoraSansPro-MediumItal.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-MediumItal.woff") format("woff"), url("../fonts/PFAgoraSansPro-MediumItal.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-MediumItal.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-Reg_0';
  src: url("../fonts/PFAgoraSansPro-Reg_0.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-Reg_0.woff") format("woff"), url("../fonts/PFAgoraSansPro-Reg_0.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-Reg_0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-Thin';
  src: url("../fonts/PFAgoraSansPro-Thin.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-Thin.woff") format("woff"), url("../fonts/PFAgoraSansPro-Thin.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-ThinItal';
  src: url("../fonts/PFAgoraSansPro-ThinItal.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-ThinItal.woff") format("woff"), url("../fonts/PFAgoraSansPro-ThinItal.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-ThinItal.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-UltraBlack';
  src: url("../fonts/PFAgoraSansPro-UltraBlack.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-UltraBlack.woff") format("woff"), url("../fonts/PFAgoraSansPro-UltraBlack.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-UltraBlack.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-UltraBlackIt';
  src: url("../fonts/PFAgoraSansPro-UltraBlackIt.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-UltraBlackIt.woff") format("woff"), url("../fonts/PFAgoraSansPro-UltraBlackIt.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-UltraBlackIt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-XThin';
  src: url("../fonts/PFAgoraSansPro-XThin.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-XThin.woff") format("woff"), url("../fonts/PFAgoraSansPro-XThin.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-XThin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro-XThinItalic';
  src: url("../fonts/PFAgoraSansPro-XThinItalic.eot");
  src: local("тШ║"), url("../fonts/PFAgoraSansPro-XThinItalic.woff") format("woff"), url("../fonts/PFAgoraSansPro-XThinItalic.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-XThinItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../../sass/elements/autocompleter.scss */
.autocompleter {
  width: 100%;
  display: none;
  font: 16px "open sans";
  color: #444444;
  z-index: 1000;
}

/* line 11, ../../sass/elements/autocompleter.scss */
.autocompleter-show {
  display: block;
}

/* line 15, ../../sass/elements/autocompleter.scss */
.autocompleter,
.autocompleter-hint {
  position: absolute;
}

/* line 20, ../../sass/elements/autocompleter.scss */
.autocompleter-list {
  list-style: none;
  margin: 0 30px 0 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-top: 1px solid #dedede;
}

/* line 30, ../../sass/elements/autocompleter.scss */
.autocompleter-item {
  cursor: pointer;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 20px;
  line-height: 40px;
}
/* line 39, ../../sass/elements/autocompleter.scss */
.autocompleter-item:hover {
  border: 2px solid #7a962d;
  line-height: 38px;
  color: #7a962d;
}

/* line 46, ../../sass/elements/autocompleter.scss */
.autocompleter-item:hover {
  /* Hover State */
}

/* line 50, ../../sass/elements/autocompleter.scss */
.autocompleter-item-selected {
  /* Selected State */
}

/* line 54, ../../sass/elements/autocompleter.scss */
.autocompleter-item strong {
  /* Highlight Matches */
}

/* line 58, ../../sass/elements/autocompleter.scss */
.autocompleter-hint {
  width: 100%;
  display: none;
  /** Need absolute position over input text */
}

/* line 65, ../../sass/elements/autocompleter.scss */
.autocompleter-hint-show {
  display: block;
}

/* line 69, ../../sass/elements/autocompleter.scss */
.autocompleter-hint span {
  color: transparent;
}
