@import "../base";

.btn {

}

.btn-primary,
.btn-default {
	font: 20px "open sans";
	border: 2px solid $white;
	position: relative;
	background: transparent;
	color: $white;
	z-index: 0;

	@include border-radius(5px);

	&:before {
		display: block;
		content: "";
		position: absolute;
		top: 1px;
		bottom: 1px;
		left: 1px;
		right: 1px;
		background: $green;
		z-index: -1;

		@include border-radius(3px);
	}

	&:hover {
		color: $green;
		background-color: transparent;
		border-color: $green;

		&:before {
			background: $white;
		}
	}

	&:active:focus,
	&:active,
	&:focus {
		color: $white;
		border-color: $green;
		background-color: transparent;
		outline: none;

		&:before {
			background: $green;
		}
	}

}

.btn-primary_type_find {
		width: 100%;
	    text-transform: uppercase;

}


.btn-default {
        text-transform: none;
        font: 20px "open sans";
        border: 2px solid $green;

        color: $white;

        &:hover {
                border: 2px solid $green;
                color: $green;

                &:before {
                        background: $white;
                }

        }

        &:active:focus,
        &:active,
        &:focus {
                color: $white;
                border-color: $green;
                background-color: transparent;
                outline: none;

                &:before {
                        background: $green;
                }
        }

}

.btn-lg {
        padding: 10px 26px;
}