@import "../base";

.copyright {
	color: $white;
	font: 300 14px "open sans";
	padding-top: 10px;
}

.copyright__link {
	color: $white;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
		color: $white;
	}
}