@import "../base";

.ctrl-checkbox[type="checkbox"] {
	display:none;
}
.ctrl-checkbox[type="checkbox"] + label {
	cursor: pointer;

	&:before {
		content: "";
		display: inline-block;
		border: 2px solid $white;
		background: $white;
		height: 25px;
		width: 25px;
		margin: 0 15px 0 0;
		vertical-align: bottom;
	}

	&:hover {
		&:before {
			border: 2px solid $green;
		}

	}
}

.ctrl-checkbox[type="checkbox"]:checked + label::before {
	background: $white url("../images/site-icons.png") 1px -69px  no-repeat;
}
