@import "../base";

.filters {
	background: $yellow url("../images/bg_yellow.png");
        padding-bottom: 30px;
}

.filters_t_fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 98px;
        z-index: 1400;
}

.filters__header {
	font: 28px "open sans";
	text-transform: uppercase;
	color: $white;
	margin: 25px 0;
        position: relative;
}

.filters__ctrls {
        position: relative;

//        .col-xs-4 {
//                padding: 0 13px;
//        }
}

.filters__check {
	font: 18px 'Open Sans', sans-serif;
	color: $white;
	margin: 28px 0;
}

.filters__hint {
        background: $green;
        color: $white;
        display: block;
        font: 300 20px/49px "open sans";
        padding: 0 20px;
        position: absolute;
        top: -70px;
        text-transform: none;

        &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: -105px;
                border: 2px solid transparent;
                border-top: 105px solid $green;
        }
}

.filters__hint_type_l {
        left: 10px;

        &:before {
                left: 0;
        }
}
.filters__check_type_r {
        right: 10px;

        &:before {
                right: 0;
        }
}
