@import "../base";

.filters {
	background: $yellow url("../images/bg_yellow.png");
        padding-bottom: 30px;
}

.filters__header {
	font: 30px "pfagorasanspro-light";
	text-transform: uppercase;
	color: $white;
	margin: 25px 0;
        position: relative;
}

.filters__ctrls {
        position: relative;
}

.filters__check {
	font: 18px 'Open Sans', sans-serif;
	color: $white;
	margin: 27px 0;
}

.filters__hint {
        background: $green;
        color: $white;
        display: block;
        font: 22px/49px "pfagorasanspro-thin";
        padding: 0 20px;
        position: absolute;
        top: -70px;
        text-transform: none;

        &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: -105px;
                border: 2px solid transparent;
                border-top: 105px solid $green;
        }
}

.filters__hint_type_l {
        left: 10px;

        &:before {
                left: 0;
        }
}
.filters__check_type_r {
        right: 10px;

        &:before {
                right: 0;
        }
}
