@import "../base";

.reviews {
        padding: 52px 0 80px;
        background: $white;

}

.reviews__header {
        text-align: center;
        font: 40px "pfagorasanspro-thin";
        color: $green;
        text-transform: uppercase;
        margin-bottom: 44px;
}

.media-heading__leg {
        color: $superLightBlack;
}

.reviews__item {
        font: 14px/18px "pfagorasanspro-reg_0";
        color: $black;

        .pull-left {
                margin-right: 27px;
        }

        .media-heading {
                margin: 17px 0 0;
                color: $superLightBlack;
                font: 19px "pfagorasanspro-medium";
        }
}
