@import "../base";

.reviews {
        padding: 44px 0 80px;
        background: $white;

}

.reviews__header {
        text-align: center;
        font: 300 36px "open sans";
        color: $green;
        text-transform: uppercase;
        margin-bottom: 44px;
}

.media-heading__leg {
        color: $superLightBlack;
}

.reviews__item {
        font: 300 13px/18px "open sans";
        color: #000000;

        .pull-left {
                margin-right: 27px;
        }

        .media-heading {
                margin: 17px 0 0;
                color: $superLightBlack;
                font: 19px "open sans";
        }
}
