@import "../base";

.slider {
	background: $blue;

	.carousel-indicators {
		right: 15px;
		left: auto;
		width: auto;
		margin-left: 0;
		top: 35px
	}

	.carousel-indicators li {
		width: 16px;
		height: 16px;
		margin: 0 0 0 25px;

		&:hover {
			border-color: $green;
			background: transparent;
		}
	}

	.carousel-caption {
		font: 300 36px/54px "open sans";
		width: 40%;
		text-align: left;
		right: auto;
		left: 15px;
		bottom: auto;
		top: 35px;
		text-shadow: none;
	}

	.slider__btn {
		display: block;
		margin-top: 45px;
		width: 220px;
		font: 14px "open sans";
		background-color: transparent;
		border: 2px solid $white;
		color: $white;
		font-size: 20px;

		@include border-radius(0);

		&:hover {
			color: $green;
			border-color: $green;
			background: transparent;
		}
	}
}